*{
    margin: 0;
    padding: 0;
    text-align: center;
}
h1{
    background-color: #081b31;
    color: white;
    
    padding: 5rem;
}

.class{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.class:hover{
    cursor: pointer;
    background-color: #081b31;
}
img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.classes{
    display: flex;
    justify-content: center;
    gap: 5rem;
    margin-top: 5rem;
}
.score-board{
    display: flex;
    justify-content: center;
    gap: 1rem;
    font-size: 2rem;
    margin-top: 3rem;
}
#comp,#user{
    font-size: 4rem;
}
.bottom{
    margin-top: 3rem;
}
#msg{
    background-color: #081b31;
    color: white;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
}